In [1]:
from datetime import datetime

In [2]:
dd = 12
MM = 2
yyyy = 2019
hh = 5
mm = 15
ss = 45
sss = 23456

mydate = datetime(yyyy, MM, dd, hh, mm, ss, sss)

In [3]:
mydate

datetime.datetime(2019, 2, 12, 5, 15, 45, 23456)

In [4]:
datetime.now()

datetime.datetime(2019, 11, 15, 18, 52, 3, 792187)

In [5]:
mydate.utcnow()

datetime.datetime(2019, 11, 15, 13, 22, 4, 386129)

# Numpy Date Type

In [6]:
import numpy as np

In [7]:
myd = np.array(['2020-1-1','2020-1-2'])

In [8]:
myd

array(['2020-1-1', '2020-1-2'], dtype='<U8')

In [9]:
#datetime64

myd = np.array(['2020-10-01','2020-10-02', '2020-10-03'],dtype='datetime64')

In [10]:
myd

array(['2020-10-01', '2020-10-02', '2020-10-03'], dtype='datetime64[D]')

In [11]:
#datetime64 with precision

myd = np.array(['2020-10-01','2020-10-02', '2020-10-03'],dtype='datetime64[h]')

In [12]:
myd

array(['2020-10-01T00', '2020-10-02T00', '2020-10-03T00'],
      dtype='datetime64[h]')

## Populate dates between two days

In [13]:
a = np.arange('2017-01-01','2017-01-23',7,dtype='datetime64[D]')

In [14]:
a

array(['2017-01-01', '2017-01-08', '2017-01-15', '2017-01-22'],
      dtype='datetime64[D]')

In [15]:
a = np.arange('2018-07-22','2019-11-12',1,dtype='datetime64[D]')

In [16]:
len(a)

478

In [17]:
b = np.arange('2005-01-01','2019-01-01',dtype='datetime64[Y]')

In [18]:
b

array(['2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012',
       '2013', '2014', '2015', '2016', '2017', '2018'],
      dtype='datetime64[Y]')

# Pandas Datetime64 index

In [23]:
import pandas as pd

ind = pd.date_range("2014-04-19",periods=10, freq='Y')

ind

DatetimeIndex(['2014-12-31', '2015-12-31', '2016-12-31', '2017-12-31',
               '2018-12-31', '2019-12-31', '2020-12-31', '2021-12-31',
               '2022-12-31', '2023-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [25]:
pd.to_datetime(["2019:15:11"], format='%Y:%d:%m')

DatetimeIndex(['2019-11-15'], dtype='datetime64[ns]', freq=None)

In [27]:
data = np.random.randint(0,52,(12,2))
data

array([[ 3, 34],
       [13, 45],
       [50, 27],
       [51, 45],
       [31, 28],
       [33, 19],
       [34,  8],
       [ 8, 51],
       [13, 46],
       [46, 49],
       [46, 14],
       [13, 31]])

In [33]:
reads = ['temp1', 'temp2']

days = pd.date_range("2020-01-01", periods=12,freq='D')

sci = pd.DataFrame(data=data, index=days, columns=reads)

In [34]:
sci

            temp1  temp2
2020-01-01      3     34
2020-01-02     13     45
2020-01-03     50     27
2020-01-04     51     45
2020-01-05     31     28
2020-01-06     33     19
2020-01-07     34      8
2020-01-08      8     51
2020-01-09     13     46
2020-01-10     46     49
2020-01-11     46     14
2020-01-12     13     31

In [35]:
sci.describe()

           temp1      temp2
count  12.000000  12.000000
mean   28.416667  33.083333
std    17.655585  14.412484
min     3.000000   8.000000
25%    13.000000  25.000000
50%    32.000000  32.500000
75%    46.000000  45.250000
max    51.000000  51.000000

In [37]:
sci.index

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10', '2020-01-11', '2020-01-12'],
              dtype='datetime64[ns]', freq='D')

In [38]:
sci.index.argmax()

11

In [39]:
sci.index.min()

Timestamp('2020-01-01 00:00:00')