In [1]:
import numpy as np
import pandas as pd

In [2]:
l = np.random.randn(5,4)

In [3]:
l

array([[-1.43423656, -0.02042073,  1.71389634, -0.13616701],
       [-1.27412084, -0.91410878,  0.72476162,  0.99905739],
       [-1.6620589 , -0.39089565,  0.58102366,  0.11026783],
       [ 0.82284522, -1.14859936,  1.73556311, -1.22229718],
       [-1.87360912,  0.57949734, -1.26351294,  0.57502319]])

In [4]:
df = pd.DataFrame(l)

In [5]:
df

          0         1         2         3
0 -1.434237 -0.020421  1.713896 -0.136167
1 -1.274121 -0.914109  0.724762  0.999057
2 -1.662059 -0.390896  0.581024  0.110268
3  0.822845 -1.148599  1.735563 -1.222297
4 -1.873609  0.579497 -1.263513  0.575023

# SERIES HAS DATA AND INDEX
# DATAFRAME HAS DATA, INDEX AND COLUMN

In [6]:
df = pd.DataFrame(data=l, index='a b c d e'.split(), columns='x y w z'.split())

In [7]:
df

          x         y         w         z
a -1.434237 -0.020421  1.713896 -0.136167
b -1.274121 -0.914109  0.724762  0.999057
c -1.662059 -0.390896  0.581024  0.110268
d  0.822845 -1.148599  1.735563 -1.222297
e -1.873609  0.579497 -1.263513  0.575023

In [8]:
df['x']

a   -1.434237
b   -1.274121
c   -1.662059
d    0.822845
e   -1.873609
Name: x, dtype: float64

In [9]:
df[['x','z']]

          x         z
a -1.434237 -0.136167
b -1.274121  0.999057
c -1.662059  0.110268
d  0.822845 -1.222297
e -1.873609  0.575023

In [10]:
len(df)

5

In [11]:
df.describe()

              x         y         w         z
count  5.000000  5.000000  5.000000  5.000000
mean  -1.084236 -0.378905  0.698346  0.065177
std    1.090012  0.693913  1.221732  0.841463
min   -1.873609 -1.148599 -1.263513 -1.222297
25%   -1.662059 -0.914109  0.581024 -0.136167
50%   -1.434237 -0.390896  0.724762  0.110268
75%   -1.274121 -0.020421  1.713896  0.575023
max    0.822845  0.579497  1.735563  0.999057

In [12]:
df['x']

a   -1.434237
b   -1.274121
c   -1.662059
d    0.822845
e   -1.873609
Name: x, dtype: float64

In [13]:
df['a']

KeyError: 'a'

In [14]:
df[0]

KeyError: 0

In [15]:
df['x']['a']

-1.4342365558752266

In [16]:
df['new col'] = [2,5,2,6,1]

In [17]:
df

          x         y         w         z  new col
a -1.434237 -0.020421  1.713896 -0.136167        2
b -1.274121 -0.914109  0.724762  0.999057        5
c -1.662059 -0.390896  0.581024  0.110268        2
d  0.822845 -1.148599  1.735563 -1.222297        6
e -1.873609  0.579497 -1.263513  0.575023        1

In [18]:
df.drop('a')

          x         y         w         z  new col
b -1.274121 -0.914109  0.724762  0.999057        5
c -1.662059 -0.390896  0.581024  0.110268        2
d  0.822845 -1.148599  1.735563 -1.222297        6
e -1.873609  0.579497 -1.263513  0.575023        1

In [19]:
df.drop('x')

KeyError: "['x'] not found in axis"

In [20]:
df.drop('x', axis=1)

          y         w         z  new col
a -0.020421  1.713896 -0.136167        2
b -0.914109  0.724762  0.999057        5
c -0.390896  0.581024  0.110268        2
d -1.148599  1.735563 -1.222297        6
e  0.579497 -1.263513  0.575023        1

_*Dataframe.loc*_ vs

## _**DataFrame.loc[]**_ vs _**DataFrame['colname']**_ 

These are the ways to select row-wise vs column wise

In [21]:
np.random.seed(101)
n = np.random.randint(1,100,(4,4))

In [22]:
n

array([[96, 12, 82, 71],
       [64, 88, 76, 10],
       [78, 41,  5, 64],
       [41, 61, 93, 65]])

In [23]:
cols = 'c1 c2 c3 c4'.split()
rows = 'r1 r2 r3 r4'.split()

In [24]:
dframe = pd.DataFrame(data=n, index=rows, columns=cols)

In [25]:
dframe

    c1  c2  c3  c4
r1  96  12  82  71
r2  64  88  76  10
r3  78  41   5  64
r4  41  61  93  65

In [26]:
#selecting 93
dframe['c3']['r4']
#selecting with slice notation
dframe[:]['r3':]



#selecting rows 
dframe.loc['r2']
dframe.loc['r2':'r4']



#selection with double square or list of cols
# l = ['c1', 'c3']
# dframe[l] # dframe[[ 'c1','c2']]
# dframe['c3 c4'.split()]

    c1  c2  c3  c4
r2  64  88  76  10
r3  78  41   5  64
r4  41  61  93  65

## Summary

In [28]:
dframe['c3']

r1    82
r2    76
r3     5
r4    93
Name: c3, dtype: int64

In [29]:
dframe.loc['r3']

c1    78
c2    41
c3     5
c4    64
Name: r3, dtype: int64

In [30]:
dframe['c1':'c3']

Empty DataFrame
Columns: [c1, c2, c3, c4]
Index: []