In [1]:
import numpy as np
import pandas as pd

In [2]:
pd.Series(data='1 2 3'.split(), index='in jp us'.split())

in    1
jp    2
us    3
dtype: object

In [3]:
import xlrd

In [4]:
sodexo = pd.read_excel('sodexo.xls', 'transactions_details')

In [5]:
sodexo.head(4)

,Date & Time of Balance,Card type,Transaction ID,Transaction Details,Credit(in Rs.),Debit(in Rs.),Previous Balance(in Rs.),New Balance(in Rs.)
0,05/11/2019 17:37:01,Meal card,1242131289530,SODEXO FOOD SOLUTIONS (I) PVT LTD,0.00,35.0,"4,273.00","4,238.00"
1,05/11/2019 16:28:31,Meal card,1242091281757,CAPGEMINI TECHNOLOGY SERVICES INDIA LTD,"2,000.00",0.0,"2,273.00","4,273.00"
2,05/11/2019 13:04:23,Meal card,1242231228412,SODEXO FOOD SOLUTIONS (I) PVT LTD,0.00,65.0,"2,338.00","2,273.00"
3,05/11/2019 09:56:04,Meal card,1242071209902,SODEXO FOOD SOLUTIONS (I) PVT LTD,0.00,35.0,"2,373.00","2,338.00"

In [8]:
expo = { 'india':230, 'japan':320, 'china':1209, 'usa':1106}

In [9]:
expo.values()
expo.keys()

dict_keys(['india', 'japan', 'china', 'usa'])

In [10]:
# expo_df = pd.DataFrame(expo)
expo_sr = pd.Series(data=expo.values(), index=expo.keys()) #error

In [11]:
# expo_df = pd.DataFrame(expo)
expo_sr = pd.Series(expo.values()) #error


expo_sr

0    (230, 320, 1209, 1106)
1    (230, 320, 1209, 1106)
2    (230, 320, 1209, 1106)
3    (230, 320, 1209, 1106)
dtype: object