In [2]:
import numpy as np
import pandas as pd

In [3]:
mylist = [100, 200, 300, 400, 500]

In [11]:
nplist = np.arange(1,10)

In [12]:
nplist

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [6]:
sr1=pd.Series(data=nplist)

In [13]:
sr1

0     1.000
1     2.125
2     3.250
3     4.375
4     5.500
5     6.625
6     7.750
7     8.875
8    10.000
dtype: float64

In [8]:
sr2=pd.Series(data=mylist)

In [9]:
sr2

0    100
1    200
2    300
3    400
4    500
dtype: int64

In [14]:
sr3 = pd.Series([10,20,30], ['alpha','beta','gamma'])

In [17]:
sr3

alpha    10
beta     20
gamma    30
dtype: int64

In [18]:
sr4 = pd.Series([25,55,75,85], ['delta','eta','mu','beta'])

In [19]:
sr4

delta    25
eta      55
mu       75
beta     85
dtype: int64

In [21]:
sr3 + sr4

alpha      NaN
beta     105.0
delta      NaN
eta        NaN
gamma      NaN
mu         NaN
dtype: float64

In [26]:
sr5 = pd.Series([1,2,3], 'a b c'.split())

In [27]:
mybooks = {'m':'black mahogany', 'u':'europa in love'}


sr6 = pd.Series(mybooks)
sr6

m    black mahogany
u    europa in love
dtype: object