In [1]:
import numpy as np
import pandas as pd

In [2]:
dframe = pd.read_excel('sodexo.xls', 'transactions_details')

In [3]:
dframe.tail()

,Date & Time of Balance,Card type,Transaction ID,Transaction Details,Credit(in Rs.),Debit(in Rs.),Previous Balance(in Rs.),New Balance(in Rs.)
258,24/06/2019 15:30:56,Meal card,115710384165,SODEXO FOOD SOLUTIONS (I) PVT LTD,0.00,10.0,"1,892.00","1,882.00"
259,24/06/2019 15:27:32,Meal card,115708385093,SODEXO FOOD SOLUTIONS (I) PVT LTD,0.00,38.0,"1,930.00","1,892.00"
260,24/06/2019 13:21:18,Meal card,115710365347,SODEXO FOOD SOLUTIONS (I) PVT LTD,0.00,35.0,"1,965.00","1,930.00"
261,24/06/2019 11:16:56,Meal card,115715344714,SODEXO FOOD SOLUTIONS (I) PVT LTD,0.00,35.0,"2,000.00","1,965.00"
262,21/06/2019 13:53:57,Meal card,115713081555,CAPGEMINI TECHNOLOGY SERVICES INDIA LTD,"2,000.00",0.0,0.00,"2,000.00"

In [7]:
dframe.columns[0]

'Date & Time of Balance'

In [9]:
dframe['Date & Time of Balance']

0      05/11/2019 17:37:01
1      05/11/2019 16:28:31
2      05/11/2019 13:04:23
3      05/11/2019 09:56:04
4      05/11/2019 09:47:29
              ...
258    24/06/2019 15:30:56
259    24/06/2019 15:27:32
260    24/06/2019 13:21:18
261    24/06/2019 11:16:56
262    21/06/2019 13:53:57
Name: Date & Time of Balance, Length: 263, dtype: object

In [14]:
dframe.rename(columns={'Date & Time of Balance':'Date'}, inplace=True)

In [15]:
dframe.to_csv('sodexo.csv')